.EXP-section {
  height: 100%;
  background-color: var(--about-bkg-color);
  padding-bottom: 10%;
}
.EXP-section-wrapper {
  margin-left: 7%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
.numbers {
  color: var(--home-btn-color);
  font-family: "Source Code Pro", monospace;
}
#exp-accordion {
  color: black;
}

#accodion {
  background-color: var(--about-bkg-color);
}
#accordion-header {
  background-color: black;
}
.exp-container-comp {
  padding-top: 10%;
}
.accordion-section-one {
  background-color: transparent;
  height: 50px;
  border-top: 1px solid #3f4b5d;
  color: #2a6cb0;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.accordion-section-two {
  background-color: transparent;
  height: 50px;
  border-top: 1px solid #3f4b5d;
  border-bottom: none;
  border-left: none;
  border-right: none;
  color: #2a6cb0;
}
.bottom-border {
  border-bottom: 1px solid #3f4b5d;
  color: white;
}
.first-section {
  color: white;
  font-size: 1.2rem;
}
.section-two {
  color: white;
  font-size: 1.2rem;
  border-bottom: 1px solid #3f4b5d;
}
.section-one {
  color: white;
  font-size: 1.2rem;
  border-bottom: 1px solid #3f4b5d;
}
